*.o
*.bin
*.elf
*.hex
*.map
*.xml
Src/COMMON_MODULES/xLIBS/CHKSUM/CHKSUM_svn_rev.tmpl
Workspace/STM32_sleepy_sensors/STM32_sleepy_sensors.elf.xcodeproj/project.pbxproj
Workspace/logs/codb-stat-client.2018-09-05.log
Workspace/logs/codb-time-client-2018-09-05.log
Workspace/logs/codb.2018-09-05.log
Release_package/
Build_Output/
F030_PORT/
Src/autoversion.h
